<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Declaring a Bean of type HelloService
    from package: example.spring.core 
    with an ID: greet -->
    <bean 
    	class="example.hibernate.entity.Stock"
    	id="st1"/>
    	
    <!--Declaring a Bean of type WelcomeService
    from package: example.spring.core 
    with an ID: greet2 -->
    <bean 
    	class="example.hibernate.entity.StockHolder"
    	id="st2"/>
    	
    <bean 
    	class="example.hibernate.entity.Student"
    	id="st3"/>
    	

</beans>